/* 기본 스타일 */

:root {
    --sidebar-width: 210px;
    --sidebar-padding: 20px;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F9FAFB;
    color: #232A33;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: 700;
}

p {
    color: #4F565F;
    margin: 0 0 20px;
}

.flex {display:flex;}

/* 헤더 스타일 */
.header { 
    display: flex; 
    background: #F7FAFC;
    position: fixed;
    width: 100%;
}
.header-wrap {
    padding: 20px 30px;
    margin-left: 250px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.pagetitle {
    font-size: 1.5em;
    font-weight: 700;
}
.logo {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.logo .material-icons {
    margin-right: 10px;
    font-size: 24px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-info {
    display: flex; 
    margin-left: 10px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav .material-icons {
    margin-left: 10px;
    color: #232A33;
    font-size: 24px;
}

.refer-button {
    margin-left: 20px;
    padding: 5px 15px;
    background-color: #4F565F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* 사이드바 스타일 */
.sidebar {
    width: var(--sidebar-width);
    background-color: #EDF2F7;
    padding: 20px; 
    position: fixed; 
    height: 100%;
    overflow-y: auto;
    top: 0;
} 

.sidebar .search {
    display: flex;
    align-items: center;
    background-color: #FFF;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 20px;
}

.sidebar .search input {
    border: none;
    background: none;
    padding: 5px;
    font-size: 14px;
    color: #232A33;
}

.sidebar .search .material-icons {
    color: #232A33;
    font-size: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 10px 0;
    color: #232A33;
}

.sidebar li.active {
    font-weight: 700;
    color: #06080F;
}

.sidebar li ul {
    padding-left: 20px;
}

.sidebar li ul li {
    padding: 5px 0;
}

/* 메인 컨텐츠 스타일 */
.main-content {
    margin-left: 250px;
    padding: 90px 30px 30px;
    background-color: #fff;
    min-height: 100vh;
}


.settings-nav {
    margin-bottom: 20px;
}

.settings-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.settings-nav li {
    margin-right: 20px;
    color: #232A33;
    cursor: pointer;
}

.settings-nav li.active {
    font-weight: 700;
    color: #06080F;
}

.content-wrap {
    display: flex;
    justify-content: space-between; 
    gap: 20px; /* 박스 간격 */ 
    align-items: flex-start;
    padding-top: 20px;
}

.pc-content {
    width: 71.3%;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    aspect-ratio: 16 / 9; /* 16:9 비율 고정 */
    box-sizing: border-box;
    border-radius: 10px;
}

.m-content {
    width: 30%;
    background-color: #e0f7fa;
    border: 1px solid #ddd;
    aspect-ratio: 3 / 4;
    position: relative;
    height: auto; /* 혹시 height가 고정되어 있을 경우를 방지 */
    border-radius: 10px;
}

@media (max-width: 768px) {
    .content-wrap {
        flex-direction: column;
    }

    .pc-content, .m-content {
        width: 100%; /* 작은 화면에서 전체 너비 사용 */
    }
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: 600;
}

form input, form select {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
}

.logo-upload {
    display: flex;
    align-items: center;
}

.logo-placeholder {
    width: 100px;
    height: 100px;
    background-color: #D3D3D3;
    border-radius: 8px;
    margin-right: 10px;
}
